# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Coverage (если вдруг добавишь)
htmlcov/
.coverage